.navbar {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.starbucks-img  {
    border: 1px solid red;
    margin-right: 20px;
    max-width: 50px;
}

.left-container {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left-container li a {
    margin-right: 10px;
    text-decoration: none;
}


.right-container {
    border: 1px solid blue;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.right-container li a {
    margin-right: 20px;
    text-decoration: none;
}

